.home {
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    align-items: center;
    background-size: cover;
    text-align: center;
    background: rgba(88, 88, 88, 0.288);

    &__name {
        font-size: 5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px  solid set-text-color($primary-color);

        &--last {
            color: $secondary-color;
            font-weight: 700;
        }
    }
}